header{
  position: relative;
  height: 80px;
  background-color: var(--color-principal);
  border-radius: 0 0 var(--border-radius-mediano) var(--border-radius-mediano);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 500ms ease-in-out;
}

img {
  display: none;
}

header::before{
  position: absolute;
  content: "";
  background-image: url("../../../assets/img/portada.jpg");
  background-position: center;
  background-size: cover;
  top: 0; left: 0; right: 0; bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: 500ms;
  border-radius: 0 0 var(--border-radius-mediano) var(--border-radius-mediano);
}

header.extendido::before{ opacity: 0.5;}

h1{
  font-size: xx-large; 
  font-weight: 800; 
  margin-bottom: 20px; 
  text-align: center;
}

.extendido{
  height: 230px;
  background-color: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extendido img{
  display: block;
  width: 140px;
  height: 140px;
}

.extendido h1 {
  width: 100%;
  margin: 0;
  margin-top: 15px;
}

/* animaciones */
.fade-in{animation: fade-out 450ms ease-in;animation-direction: reverse;}
.fade-out{animation: fade-out 150ms ease-in;animation-fill-mode: forwards;}
@keyframes fade-out { 100%{ opacity: 0%;}}
