#container{
  height: 80px;
  display: flex;
  background-color: #fff;
  border-radius: var(--border-radius-chico);
  overflow: hidden;
  font-size: small;
  margin: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

#foto{
  height: 100%;
  flex: 2;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  gap: 5px;
  img{
    height: 20px;
    margin-bottom: 5px;
    background-color: var(--color-sello-comida);
    border-radius: 50px;
    &:first-child{
      margin-left: 5px;
    }
  }
}

#detalles{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

h4{
  font-weight: bold;
  margin-bottom: 5px;

}

ul li {
  display: inline;
  font-size: x-small;
  &:not(:last-of-type)::after{
    content: ",";
    margin-left: -2px;
  }
}

#precio{
  text-align: end;
  font-weight: bold;
}
