<footer>
  <nav>
    <ul class="footer-tabs">
      <li class="tab" [routerLink]="['/']" routerLinkActive="seleccionado" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>restaurant</mat-icon>
      </li>
      <li class="tab" [routerLink]="['/buscar']" routerLinkActive="seleccionado">
        <mat-icon>search</mat-icon>
      </li>
      <li class="tab" [routerLink]="['/carrito']" routerLinkActive="seleccionado">
        <mat-icon>shopping_cart</mat-icon>
      </li>
      <li class="tab" [routerLink]="['/perfil']" routerLinkActive="seleccionado">
        <mat-icon>person</mat-icon>
      </li>
    </ul>
  </nav>
</footer>
