$altura : 30px;

#container{
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: $altura;
  background-color: var(--color-principal-claro);
  border-radius: var(--border-radius-chico);
  overflow: hidden;
  border: 1px solid black;
}

button{
  border: unset;
  font-weight: bold;
  background-color: var(--color-principal);
  padding: 0 10px;
}

span{
  line-height: $altura;
}
