/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --color-principal:       #df610d;
  --color-principal-claro: #f5af5f;
  --color-sello-comida:    rgb(182, 255, 180);
  
  --border-radius-chico:   5px;
  --border-radius-mediano: 15px;
  --border-radius-grande:  25px;

  --color-texto:         black;
  --color-texto-claro:   rgb(84, 84, 84);
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  color: var(--color-texto);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

app-root{
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

.margen-chico{
  margin: 10px;
}

.negrita{
  font-weight: bold;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-apart{
  display: flex;
  justify-content: space-between;
}

/* ESTILOS DEL TABS */
.footer-tabs {
  display: flex;
  justify-content: space-around;
  background-color: #e5e5e5;
  border-top-left-radius:     50px;
  border-top-right-radius:    50px;
  border-bottom-left-radius:  50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  height: 50px;
  margin: 20px;

  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;

    svg {
      display: block;
      margin: auto;
      transition: 200ms ease-in-out;
    }
  }

  .seleccionado {
    background-color: var(--color-principal);
    &.seleccionado {
      background-color: var(--color-principal);
      svg {fill: white; }
    }
  }
}
