@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: var(--font-family-principal); }

:root {
  --color-principal:       #df610d;
  --color-principal-claro: #f5af5f;
  --color-sello-comida:    rgb(182, 255, 180);
  
  --border-radius-chico:   5px;
  --border-radius-mediano: 15px;
  --border-radius-grande:  25px;

  --font-family-principal: 'Nunito', sans-serif;
  --color-texto:           black;
  --color-texto-claro:     rgb(84, 84, 84);
  --color-texto-header:    white;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  color: var(--color-texto);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

app-root{
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

.margen-chico{
  margin: 10px;
}

.negrita{
  font-weight: bold;
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-apart{
  display: flex;
  justify-content: space-between;
}

/* ESTILOS DEL TABS */
app-tabs .footer-tabs {
  display: flex;
  justify-content: space-around;
  background-color: #e5e5e5;
  border-top-left-radius:     50px;
  border-top-right-radius:    50px;
  border-bottom-left-radius:  50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  height: 50px;
  margin: 20px;

  .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;

    mat-icon {
      color: #555555; /* Color para íconos inactivos */
      transition: 200ms ease-in-out;
    }
  }

  .seleccionado {
    background-color: var(--color-principal);
    mat-icon {
      color: white; /* Color para el ícono activo */
    }
  }
}

/* ESTILOS DEL HEADER */
app-header {
  header {
    position: relative;
    height: 80px;
    background-color: var(--color-principal);
    border-radius: 0 0 var(--border-radius-mediano) var(--border-radius-mediano);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 500ms ease-in-out;
    padding: 0 20px;
  }

  img {
    display: none;
  }

  .acciones {
    display: flex;
    gap: 15px;
  }

  .acciones a {
    color: var(--color-texto-header);
  }

  header::before {
    position: absolute;
    content: "";
    background-image: url("assets/img/portada.jpg");
    background-position: center;
    background-size: cover;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: 500ms;
    border-radius: 0 0 var(--border-radius-mediano) var(--border-radius-mediano);
  }

  header.extendido::before { opacity: 0.5; }

  h1 {
    font-family: var(--font-family-principal);
    font-size: xx-large;
    font-weight: 800;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    color: var(--color-texto-header);
  }

  .extendido {
    height: 230px;
    background-color: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    box-sizing: border-box;
  }

  .extendido img {
    display: block;
    width: 140px;
    height: 140px;
  }

  .extendido app-btn-back,
  .extendido .acciones {
    display: none;
  }

  .extendido h1 {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    color: var(--color-texto);
  }

  .fade-in { animation: fade-out 450ms ease-in; animation-direction: reverse; }
  .fade-out { animation: fade-out 150ms ease-in; animation-fill-mode: forwards; }
  @keyframes fade-out { 100% { opacity: 0%; } }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
