$color-principal :         #df610d;
$color-principal-claro :   #f5af5f;

$color-sello-comida : rgb(182, 255, 180);

$border-radius-chico:   5px;
$border-radius-mediano: 15px;
$border-radius-grande:  25px;

$color-texto:       black;
$color-texto-claro: rgb(84, 84, 84);
